

<% myOrders.forEach(function(element, index) { %>
  <% if (myOrders[index].ready_time != null && myOrders[index].status != "completed") { %>
    <div class="row custOrders">
      <div class="col-md-12">
        <div class= "row orderInfo">
          <div class= "col-md-3 orderId">
            Order ID:
            <%= myOrders[index].order_id %>
          </div>
          <div class= "col-md-4 custName">
            Customer name:
            <%= myOrders[index].username %>
          </div>
          <div class= "col-md-5 phoneNumber">
            Phone Number:
            <%= myOrders[index].phone_number %>
          </div>
        </div>
        <div class= "row foodItem">
          <div class= "col-md-10 itemName">
            Item:
            <%= myOrders[index].name %>
          </div>
          <div class= "col-md-2 quantity">
            Quantity:
            <%= myOrders[index].quantity %>
          </div>
        </div>
        <div class= "row clearQueue">

          <form action="/restaurants/1/completed" method="POST">
            <div class= "text-center col-md-6">
              Pending for pick up....
            </div>
            <div class= "text-center col-md-6">
              <input type="submit" class="btn btn-primary">Complete Order</button>
              <input type="hidden" class="form-control" id="order_id" name="order_id" value=<%= myOrders[index].order_id %> />
            </div>
          </form>
        </div>
      </div>
    </div>
  <% } else { %>
    <div></div>
  <% } %>
<% }); %>

