<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Information -->
    <title>Menu Orders</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/nav.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/menu_orders.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript"s rc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Page script -->
    <script type="text/javascript" src="/scripts/menu_orders.js"></script>

    <!-- Helper script -->
    <script src="/scripts/utils/public_helpers.js"></script>

  </head>
<body>
  <!-- Top nav bar (fixed) -->
  <nav class="mynav navbar">
    <% include partials/_navbar %>
  </nav>
  <div class="main container-fluid">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="restaurant_menu col-md-5" data-restaurant_id=<%= restaurantId %>>
        <div class="row">
          <div class="col-md-12 header text-center">
            <h1 class="menu_header">Menu<h1>
          </div>
        </div>
        <% menuItems.forEach( function(item) {
          // Set quantity to 0 if user hasn't set the quantity.
          !item.quantity ? item.quantity = 0 : null;
        %>
        <div class="row item items_id" data-item_id=<%= item.id %>>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12"><img class="image" src="<%=item.image%>"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 text-center"><h3><%=item.name%> - <%=item.price%></h3></div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 text-center"><%=item.description%></div>
              <div class="col-md-2"></div>
            </div>
            <div class="row qty">
              <div class="col-md-3"></div>
              <div class="col-md-2"><button class="minus_item btn btn-danger center-block"><i class="glyphicon glyphicon-minus-sign"></i></button></div>
              <div class="qty_value col-md-2">
                <form class="center-block">
                  <input type="number" step="1" class="qty_input" min="0" value=<%=item.quantity%>>
                </form>
              </div>
              <div class="col-md-2"><button class="plus_item btn btn-success center-block"><i class="glyphicon glyphicon-plus-sign"></i></button></div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      <div class="col-md-5">

        <div class="row">
          <div class="cart col-md-6">
            <div class="row">
              <div class="icon col-md-12 text-center">
                <img class="cart_icon" src="/images/cart.png">
              </div>
            </div>

            <div class="row">
              <div class="chosen_items col-md-12">
                <% // TODO: Display everything from menu items and calculate totals.
                   // Display menu items from passed in menuItems and quantity and item totals
                menuItems.forEach( function(item) {
                  if (item.quantity) { %>
                    <div class="row">
                      <div class="<%= item.id %> col-md-7">
                        <%= item.name %>
                      </div>
                      <div class="itemQty col-md-2">
                        x<%= item.quantity %>
                      </div>
                      <div class="itemTotal col-md-3">
                        $<%= parseFloat(Math.round((item.quantity * item.price) * 100) / 100).toFixed(2);%>
                      </div>
                    </div>
                  <% } %>
                <% }); %>
              </div>
            </div>

          <div class="row totals">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                  Subtotal:
                </div>
                <div class="subtotal col-md-3">
                  $<%=parseFloat(Math.round(totals.subtotal * 100) / 100).toFixed(2);%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4 text-center">
                  GST (5%):
                </div>
                <div class="gst col-md-3">
                  $<%=parseFloat(Math.round(totals.gst * 100) / 100).toFixed(2);%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                  PST (7%):
                </div>
                <div class="pst col-md-3">
                  $<%=parseFloat(Math.round(totals.pst * 100) / 100).toFixed(2);%>
                </div>
              </div>
              <div class="row">
              <div class="col-md-5"></div>
                <div class="col-md-4">
                  Total:
                </div>
                <div class="total col-md-3">
                  $<%=parseFloat(Math.round(totals.total * 100) / 100).toFixed(2);%>
                </div>
              </div>
            </div>
          </div>

          <div class="row pull-right"">
            <div class="col-md-12">
              <form class="order" method="POST" action="/order">
                <button class="btn-order" type="submit"><i class="glyphicon glyphicon-cutlery"></i> ORDER</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
