<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Meta Information -->
    <title>Menu Orders</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/nav.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/menu_orders.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript"s rc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Page script -->
    <script type="text/javascript" src="/scripts/menu_orders.js"></script>

  </head>
<body>
  <!-- Top nav bar (fixed) -->
  <nav class="mynav navbar">
    <% include partials/_navbar %>
  </nav>
  <div class="main container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="restaurant_menu col-md-6" data-restaurantId=<%= restaurantId %>>
        <% menuItems.forEach( function(item) {
          !item.quantity ? item.quantity = 0 : null;
        %>
        <div class="items_id row" data-item_id=<%= item.id %>>
          <div class="item col-md-12">
            <div class="row">
              <div class="col-md-12"><img class="image" src="<%=item.image%>"></div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="name_price col-md-6 text-center"><%=item.name%> - <%=item.price%></div>
              <div class="col-md-3"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="description col-md-8 text-center"><%=item.description%></div>
              <div class="col-md-2"></div>
            </div>
            <div class="qty row">
              <div class="col-md-3"></div>
              <div class="col-md-2"><button class="minus_item btn btn-danger center-block">-</button></div>
              <div class="qty_value col-md-2">
                <form class="center-block">
                  <input type="number" step="1" class="qty_input" data-qty=<%=item.quantity%> value=<%=item.quantity%>>
                </form>
              </div>
              <div class="col-md-2"><button class="plus_item btn btn-success center-block">+</button></div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="col-md-3">
        <div class="order_items">
          <span class="order_total">Your total is $4</span>
          <form action="/order" method="POST">
            <button class="btn btn-success" type="submit" value="true">Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
